<label class="siau-file-upload">
  <span class="siau-file-upload__label">
    {{ label() }}

    @if (required()) {
      <strong>*</strong>
    }
  </span>

  <span class="siau-file-upload__dropzone">
    <mat-icon aria-hidden="true">upload_file</mat-icon>

    <span class="siau-file-upload__text">
      {{ fileName() || placeholder() }}
    </span>

    <input
      type="file"
      [required]="required()"
      [disabled]="disabled()"
      [attr.accept]="acceptValue()"
      (change)="handleFileChange($event)"
    />
  </span>
</label>